 {
    "/apps/**/*.{ts,tsx}": [
        "pnpm run lint",
        "pnpm run check-types",
        "pnpm run format"
    ],
    "/packages/**/*.{ts,tsx}": [
        "pnpm run lint",
        "pnpm run check-types",
        "pnpm run format"
    ],
    "*.json": [
        "pnpm run format"
    ]
  }